{% extends 'defaults/base.html' %}
{% load staticfiles %}
{% block content %}
<html>
{% include 'defaults/leaflet.html' %}

<body>
{% include 'defaults/sidebarViewer.html' %}
	
<div id="map"></div>
	
  <script src = "{% static 'GeoJSON/EC_Adm1Exposure.js' %}"></script>
  <script src = "{% static 'GeoJSON/EC_branchList.js' %}"></script>
  <script src = "{% static 'style/EC_exposure.js' %}"></script>
  <script src = "{% static 'style/EC_adm1Style.js' %}"></script>
  <script src = "{% static 'js/EC_script.js' %}"></script>

</body>
</html>

{% endblock %}