{% extends 'defaults/base.html' %}
{% block content %}
<div class="container-fluid background">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="contact">Contact Us &nbsp<span class="glyphicon glyphicon glyphicon-send"></span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 contact-info">
        <ul style="list-style-type:square">
          <li>For questions about how to use the map download tool, please first see the <a href="/download/overview/"><span class="glyphicon glyphicon-link"></span> Map Downloads Overview</a> page.</li>
          <li>For questions about how to use the map viewer interactive tool, please first see the <a href="#"><span class="glyphicon glyphicon-link"></span> Map Viewer Overview</a> page. *Coming soon!</li>
          <li>All other questions can be answered directly by emailing the site administrator at  <a href="mailto:adm.geobias@gmail.com"><span class="glyphicon glyphicon-envelope"></span> adm.geobias@gmail.com</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
