
{% extends 'defaults/base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    
  {% include 'defaults/sidebar.html' %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"><span class="glyphicon glyphicon-download-alt"></span>&nbsp Map Downloads Overview</h1>

      <div class="row placeholders">
        <div class="col-sm-12 placeholder">
          <ul class="go-to">
            <li class="bold">Page Navigation:</li> 
            <li class="goto"><a href="#about">About</a></li>
            <li class="goto"><a href="#howto">How to use the downloads tool</a></li>
            <li class="goto"><a href="#scndthemes">Map themes</a></li>
          </ul>
          <!--About section for map download interface-->
          <section class="info">
            <div class="col-sm-12">
              <span class="anchor" id="about"></span>
              <div class="overview">
                <h1>About</h1>
                <div class="col-sm-12">
                  <p class = "tab">The Web Map Interface downloads tool provides <b>ready-to-access</b> map atlases and individual administrative area maps for important thematic data available in each country. The individual country pages display the available mapping themes, which have been selected as relevant to the MFI and include links for downloading each of these map sets. While the number of individual maps availabe for each country varies, the entire VisionFund map catalog includes nearly <b>2,000 maps</b>. If you would like to see more information about the data used to generate these maps or request additional mapping related to your MFI, please see the <b><a href="/resources">Data Links</a></b> page or go to the <b><a href="/contact">Contact</a></b> page. 
                  </p>
                </div>
              </div>
            </div>
          <!--User how-to section for map download interface-->
          </section>
          <section class="info">
            <div class="col-sm-12">
              <span class="anchor" id="howto"></span>
              <div class="overview">
                <h1>How to use the map downloads tool</h1>
                <div class="col-sm-6 how-to">
                  <p class = "tab">The download interface is organized by the <a href="#">Overview</a> page, the <a href="/resources">Data Links</a> page, and the countries available to the user, all of which are displayed on the left panel. To navigate 
                  </p>
                </div>
                <div class="col-sm-6">
                  <img src="../static/assets/img/howto1.png" class="img-responsive img-thumbnail" width="300" height="300">
                </div>
              </div>
            </div>
          </section>
          <!-- Section on secondary map themes in three-wide gallery layout-->
          <section class="info">
            <div class="col-sm-12">
              <span class="anchor" id="scndthemes"></span>
              <div class="overview">
                <h1>Map Themes</h1>
                <div class="col-sm-12">
                  <p>Placeholder text for information on the downloads page. Include a basic 'about' paragraph and info about the different themes, their use, and how to use the downloads tool for data, atlases, and individual admin maps.</p>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-4 second-themes">
                      <img src="../static/assets/img/howto1.png" class="img-responsive img-thumbnail" width="300" height="300">
                      <h4>Drive time to Nearest Branch</h4>
                      <p>Placeholder text for information on the themes section. Include a basic 'about' paragraph and info about the different themes, their use, and how to use the downloads tool for data, atlases, and individual admin maps</p>
                    </div>
                    <div class="col-sm-4 second-themes">
                      <img src="../static/assets/img/howto1.png" class="img-responsive img-thumbnail" width="300" height="300">
                      <h4>Poverty Mapping</h4>
                      <p>Placeholder text for information on the themes section. Include a basic 'about' paragraph and info about the different themes, their use, and how to use the downloads tool for data, atlases, and individual admin maps</p>
                    </div>
                    <div class="col-sm-4 second-themes">
                      <img src="../static/assets/img/howto1.png" class="img-responsive img-thumbnail" width="300" height="300">
                      <h4>Demographics</h4>
                      <p>Placeholder text for information on the themes section. Include a basic 'about' paragraph and info about the different themes, their use, and how to use the downloads tool for data, atlases, and individual admin maps</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
