{% extends 'defaults/base.html' %}
{% block content %}
<!--Placeholder for data resource page. This has been moved from the modal windows to be placed in a seperate fixed tab-->
<div class="container-fluid">
  <div class="row">
    {% include 'defaults/sidebar.html' %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header"><span class="glyphicon glyphicon-download-alt"></span>&nbsp Open Data Resource Links</h1>
      <div class="dl-header">
        <h1>Coming soon!</h1> 
      </div>
<!--
      <div class="dl-open col-sm-12">  
        <div class="col-sm-8 opendata">
          <h4>Natural Earth Administrative Unit Level 1:</h4>
          <p>Placeholder text about the natural earth data and link to the original source material. </p>
        </div>
        <div class="itemlink col-sm-2">
          <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-new-window"></span> Link 
          </a>
        </div>
      </div>
      <div class="dl-open col-sm-12">  
        <div class="col-sm-8 opendata">
          <h4>Natural Earth Administrative Unit Level 2:</h4>
          <p>Placeholder text about the natural earth data and link to the original source material. </p>
        </div>
        <div class="itemlink col-sm-2">
          <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-new-window"></span> Link 
          </a>
        </div>
      </div>
      <div class="dl-open col-sm-12">  
        <div class="col-sm-8 opendata">
          <h4>ESA-CCI Land Cover Raster Data:</h4>
          <p>Placeholder text about the natural earth data and link to the original source material. </p>
        </div>
        <div class="itemlink col-sm-2">
          <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-new-window"></span> Link 
          </a>
        </div>
      </div>
-->
    </div> 
  </div>
</div>
{% endblock %}